In [1]:
import pandas as pd
 
steam_data = pd.read_csv('https://raw.githubusercontent.com/alyang666/DS50-projet/main/datastes/steam_200k_last.csv?token=GHSAT0AAAAAABSIOWZROTP4ILC4Y7C7NBE4YVBDLIA')

In [2]:
steam_data.isnull().values.any()

False

In [3]:
steam_data

           userid   appid                      game  behavior  hoursplayed
0            5250      10            Counter-Strike  purchase            1
1            5250      20     Team Fortress Classic  purchase            1
2            5250      30             Day of Defeat  purchase            1
3            5250      40        Deathmatch Classic  purchase            1
4            5250      50  Half-Life Opposing Force  purchase            1
...           ...     ...                       ...       ...          ...
125920  309812026  301520                 Robocraft  purchase            1
125921  309824202     570                    Dota 2      play            1
125922  309824202     570                    Dota 2  purchase            1
125923  309903146     570                    Dota 2      play            0
125924  309903146     570                    Dota 2  purchase            1

[125925 rows x 5 columns]

In [4]:
steam_data['Hours_Played'] = steam_data['hoursplayed'].astype('float32')

In [5]:
steam_data

,userid,appid,game,behavior,hoursplayed,Hours_Played
0,5250,10,Counter-Strike,purchase,1,1.0
1,5250,20,Team Fortress Classic,purchase,1,1.0
2,5250,30,Day of Defeat,purchase,1,1.0
3,5250,40,Deathmatch Classic,purchase,1,1.0
4,5250,50,Half-Life Opposing Force,purchase,1,1.0
...,...,...,...,...,...,...
125920,309812026,301520,Robocraft,purchase,1,1.0
125921,309824202,570,Dota 2,play,1,1.0
125922,309824202,570,Dota 2,purchase,1,1.0
125923,309903146,570,Dota 2,play,0,0.0
125924,309903146,570,Dota 2,purchase,1,1.0

In [6]:
steam_data['Hours_Played'] = steam_data['hoursplayed'].astype('float32')
steam_data.loc[(steam_data['behavior'] == 'purchase') & (steam_data['hoursplayed'] == 1.0), 'Hours_Played'] = 0

In [7]:
steam_data

,userid,appid,game,behavior,hoursplayed,Hours_Played
0,5250,10,Counter-Strike,purchase,1,0.0
1,5250,20,Team Fortress Classic,purchase,1,0.0
2,5250,30,Day of Defeat,purchase,1,0.0
3,5250,40,Deathmatch Classic,purchase,1,0.0
4,5250,50,Half-Life Opposing Force,purchase,1,0.0
...,...,...,...,...,...,...
125920,309812026,301520,Robocraft,purchase,1,0.0
125921,309824202,570,Dota 2,play,1,1.0
125922,309824202,570,Dota 2,purchase,1,0.0
125923,309903146,570,Dota 2,play,0,0.0
125924,309903146,570,Dota 2,purchase,1,0.0

In [8]:
clean_data=steam_data.drop(['behavior', 'hoursplayed'], axis = 1)

In [9]:
n_users = len(clean_data.userid.unique()) #Nombre d'utilisateurs après le traitement
n_games = len(clean_data.game.unique())   #Nombre de jeux

In [10]:
clean_data['rating'] = clean_data['Hours_Played']    #Ajouter une colonne pour indiquer les scores des utilisateurs

In [11]:
#Les scores sont basés sur la durée du jeu de l'utilisateur.
for i in range(len(clean_data)):
    if clean_data.iloc[i,3] > 24:    #Par example, plus de 76 heures de jeu, le score est 5 sur 5.
        clean_data.iloc[i,4]=5
    elif 7< clean_data.iloc[i,3] <= 24:
        clean_data.iloc[i,4]=4 
    elif 2< clean_data.iloc[i,3] <= 7:
        clean_data.iloc[i,4]=3 
    elif 0< clean_data.iloc[i,3] <= 2: 
        clean_data.iloc[i,4]=2 
    else:
        clean_data.iloc[i,4]=1

In [12]:
clean_data

           userid   appid                      game  Hours_Played  rating
0            5250      10            Counter-Strike           0.0     1.0
1            5250      20     Team Fortress Classic           0.0     1.0
2            5250      30             Day of Defeat           0.0     1.0
3            5250      40        Deathmatch Classic           0.0     1.0
4            5250      50  Half-Life Opposing Force           0.0     1.0
...           ...     ...                       ...           ...     ...
125920  309812026  301520                 Robocraft           0.0     1.0
125921  309824202     570                    Dota 2           1.0     2.0
125922  309824202     570                    Dota 2           0.0     1.0
125923  309903146     570                    Dota 2           0.0     1.0
125924  309903146     570                    Dota 2           0.0     1.0

[125925 rows x 5 columns]

In [13]:
sorted_games=clean_data.sort_values(by='Hours_Played', ascending=False)

In [14]:
sorted_games=sorted_games.reset_index(drop=True)

In [15]:
sorted_games

           userid   appid                        game  Hours_Played  rating
0        73017395    8930  Sid Meier's Civilization V       11754.0     5.0
1       100630947     570                      Dota 2       10442.0     5.0
2       153382649     440             Team Fortress 2        9640.0     5.0
3       130882834     570                      Dota 2        7765.0     5.0
4        52567955     570                      Dota 2        6964.0     5.0
...           ...     ...                         ...           ...     ...
125920   65398650  236110        Dungeon Defenders II           0.0     1.0
125921   65398650  236110        Dungeon Defenders II           0.0     1.0
125922   65398650  236090        Dust An Elysian Tail           0.0     1.0
125923   65398650  235250            Super Sanctum TD           0.0     1.0
125924  309903146     570                      Dota 2           0.0     1.0

[125925 rows x 5 columns]

In [16]:
topgames=[0]*10

In [17]:
unique_games=sorted_games["game"].unique()

In [18]:
unique_games[10]

'Arma 3'

In [19]:
topgames[0]="Sid Meier's Civilization V"
topgames[1]="Dota 2"
topgames[2]="Team Fortress 2"
topgames[3]="Counter-Strike"
topgames[4]="Counter-Strike Source"
topgames[5]="Baldur's Gate II Enhanced Edition"
topgames[6]="Garry's Mod"
topgames[7]="Mount & Blade: Warband"
topgames[8]="Left 4 Dead 2"
topgames[9]="Arma 3"

In [20]:
topgames

["Sid Meier's Civilization V",
 'Dota 2',
 'Team Fortress 2',
 'Counter-Strike',
 'Counter-Strike Source',
 "Baldur's Gate II Enhanced Edition",
 "Garry's Mod",
 'Mount & Blade: Warband',
 'Left 4 Dead 2',
 'Arma 3']

In [21]:
# Créer les dictionnaires pour convertir l'utilisateur et les jeux en index et inversement
user2idx = {user: i for i, user in enumerate(clean_data.userid.unique())}
idx2user = {i : user for user, i in user2idx.items()}

game2idx = {game: i for i, game in enumerate(clean_data.game.unique())}
idx2game = {i: game for game, i in game2idx.items()}

In [22]:
#convertir l'utilisateur et les jeux en index
user_idx = clean_data['userid'].apply(lambda x: user2idx[x]).values
game_idx = clean_data['gameIdx'] = clean_data['game'].apply(lambda x: game2idx[x]).values
rating = clean_data['rating'].values

In [23]:
# Créer une matrice zéro
import numpy as np
zero_matrix = np.zeros(shape = (n_users, n_games))
user_game_interactions = zero_matrix.copy()
# Remplir la matrice avec des scores
user_game_interactions[user_idx, game_idx] = rating

In [24]:
#Créer une matrice dans laquelle la durée de jeu de l'utilisateur est stocké.
user_game_interactions

array([[1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       [1., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [25]:
clean_data

,userid,appid,game,Hours_Played,rating,gameIdx
0,5250,10,Counter-Strike,0.0,1.0,0
1,5250,20,Team Fortress Classic,0.0,1.0,1
2,5250,30,Day of Defeat,0.0,1.0,2
3,5250,40,Deathmatch Classic,0.0,1.0,3
4,5250,50,Half-Life Opposing Force,0.0,1.0,4
...,...,...,...,...,...,...
125920,309812026,301520,Robocraft,0.0,1.0,396
125921,309824202,570,Dota 2,1.0,2.0,15
125922,309824202,570,Dota 2,0.0,1.0,15
125923,309903146,570,Dota 2,0.0,1.0,15
125924,309903146,570,Dota 2,0.0,1.0,15

In [26]:
n_users

11103

In [27]:
n_games

2835

In [28]:
#Calcul de la similarité cosinus en utilisant pairwise de sklearn
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(user_game_interactions, metric='cosine')
item_similarity = pairwise_distances(user_game_interactions.T, metric='cosine')

In [29]:
#Faire des prédictions sur la base de ces similitudes
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [30]:
user_prediction = predict(user_game_interactions, user_similarity, type='user')
item_prediction = predict(user_game_interactions, item_similarity, type='item')

In [31]:
user_prediction

array([[ 0.06057456,  0.0221157 ,  0.03317541, ...,  0.00439536,
         0.00437159,  0.00439536],
       [ 0.06335551,  0.02665067,  0.03701445, ...,  0.0062341 ,
         0.00622483,  0.0062341 ],
       [ 0.07146644,  0.03258694,  0.04443865, ...,  0.0108909 ,
         0.01088718,  0.0108909 ],
       ...,
       [ 0.07581072,  0.03123975,  0.04678332, ..., -0.00200522,
        -0.00202759, -0.00200522],
       [ 0.10691346,  0.04555238,  0.06759388, ..., -0.00285256,
        -0.00288592, -0.00285256],
       [ 0.10691346,  0.04555238,  0.06759388, ..., -0.00285256,
        -0.00288592, -0.00285256]])

In [32]:
user_prediction.shape

(11103, 2835)

In [33]:
#Trouvez la différence entre les jeux joués pour l'objectif et l'utilisateur référé
#Pour éviter de recommander pour objectif avec des jeux qui ont déjà été joués
def find_diff(userid1,userid2):
    game1=clean_data[clean_data["userid"]==userid1]["gameIdx"].tolist()
    game2=clean_data[clean_data["userid"]==userid2]["gameIdx"].tolist()
    diff = set(game2).difference(set(game1))
    return diff

In [34]:
#Trier les jeux en fonction de leur scores et recommander les meilleurs.
def sort_game(game_diff,useridx,similar_indices,num):
    if len(game_diff) != 0:
        if len(game_diff) < num:
            num=len(game_diff)
        game_rating=[None]*len(game_diff)
        for i in range(len(game_diff)):
            game_rating[i]=user_game_interactions[similar_indices[0]][list(game_diff)[i]]
        game_rating=np.array(game_rating)
        sort=game_rating.argsort()[::-1]
        for i in range(num):  
            print(idx2game[list(game_diff)[sort[i]]])

In [35]:
#Convertir l'identifiant de l'utilisateur en index
#Trouver l'utilisateurs le plus similaire
#Utiliser sort_game pour faire la recommandation
def recommendation(userid,prediction,num):
    total=num
    idx=user2idx[userid]
    similar_indices = user_prediction[idx].argsort()[::-1]
    userid2=idx2user[similar_indices[0]]
    game_diff=find_diff(userid,userid2)
    #Si l'utilisateur le plus similaire a moins de "num" jeux différents de ceux de l'objectif
    #Trouver un deuxième utilisateur similaire
    if len(game_diff)>=num:     
        sort_game(game_diff,similar_indices[0],similar_indices,num)
        num=0
    else:
        i=0
        #Trouvez jusqu'à trois utilisateurs similaires à recommander
        while num>0 & i<3:
            userid2=idx2user[similar_indices[i]]
            game_diff=find_diff(userid,userid2)
            num_rec=num-len(game_diff)
            sort_game(game_diff,similar_indices[i],similar_indices,num)
            num=num_rec
            i=i+1
#Si le nombre de jeux qui peuvent être recommandés par des utilisateurs similaires est 
#inférieur au nombre de jeux qui doivent être recommandés, les jeux les plus vendus seront recommandés.
    if num>0:
        for i in range(num):
            print(topgames[i])

In [36]:
recommendation(101690993,user_prediction,50)

Team Fortress 2
S.T.A.L.K.E.R. Clear Sky
Silent Hunter III
Sid Meier's Civilization III Complete
Sniper Elite
Team Fortress 2
Dota 2
Cities Skylines
Alien Swarm
Unturned
Eldevin
Warface
PlanetSide 2
RaceRoom Racing Experience
Realm of the Mad God
Dota 2
Robocraft
SiN Episodes Emergence
Red Orchestra Ostfront 41-45
Team Fortress 2
Batman Arkham Origins
LIMBO
Robocraft
Ghost Master
EverQuest II
Reus
Cities Skylines
RUNNING WITH RIFLES
Arma 2 Operation Arrowhead
Call of Duty Black Ops
Braid
Rising Storm/Red Orchestra 2 Multiplayer
Mount & Blade Warband
FTL Faster Than Light
Arma Cold War Assault
Just Cause 2
Company of Heroes Opposing Fronts
Plants vs. Zombies Game of the Year
Company of Heroes Tales of Valor
Red Orchestra Ostfront 41-45
Arma 3
World of Goo
Frozen Synapse
Path of Exile
Battlefield Bad Company 2
Orcs Must Die!
X-COM Terror from the Deep
Terraria
Scribblenauts Unlimited
Team Fortress 2